* {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border: white;
  }

  html {
      height: 100%;
  }

  body {
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    margin: 0px;
  }

  .flutter-heading {
    font-size: 1.7rem;
    font-weight: lighter;
  }