<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/forms.css">
    <title>Homework 1 - Flutter</title>
</head>

<body>
    <section class="panels">
        <form class="form">
            <h2 class="flutter-heading">Flutter</h2>
            <h3 id="login-text" class="sub-heading">Login</h3>
            <input class="credentials" type="email" name="login-email" id="login-email" placeholder="Email" required/>
            <input class="credentials" type="password" name="login-password" id="login-password" placeholder="Password" required/>
            <div class="links">
                <button class="panel-buttons">Submit</button>
                <a class="panel-links" href="register.html">Create account</a>
            </div>
        </form>
    </section>
</body>

</html>