<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Homework 1 - Flutter</title>
</head>

<body>
    <nav class="nav">
        <h2 class="nav-field flutter-heading">Flutter</h2>
        <input id="search" class="nav-field input-field" type="text" placeholder="Search..."/>
    </nav>
    <section class="profile">
        <article id="user-data" class="articles">
            <div id="personal-data">
                <img id="profile-picture" src="../images/profile-picture.jpg" alt="Profile picture">
            <h2>Eva Nikolova</h2>
            </div>
            <div id="statistics">
                <div id="number-posts" class="statistics-numbers">
                    <p class="label">Posts</p>
                    <p class="number">1</p>
                </div>
                <div id="number-reactions" class="statistics-numbers">
                    <p class="label">Reactions</p>
                    <p class="number">7</p>
                </div>
                <button class="logout-btn">Log Out</button>
            </div>
        </article>
        <article id="homepage" class="articles">
            <div id="say-something">
                <img id="small-image" src="../images/profile-picture.jpg" alt="Profile picture">
                <div class="input-icons">
                    <input class="input-field blue" type="text" id="add-blog-post" placeholder="Say something"/>
                    <!-- <i class="fa fa-user"></i> -->
                </div>
            </div>
            <div id="blog-posts">
                <div class="post">
                    <img class="smaller-image" src="../images/profile-picture.jpg" alt="Profile picture">
                    <div class="container">
                        <div class="name-timestamp">
                            <p class="name">Ivan Ivanov</p>
                            <small class="small timestamp">7 days ago</small>
                        </div>
                        <div class="post-info">
                            <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut ex mattis, imperdiet orci viverra, elementum ligula. Nunc elit odio, feugiat molestie tellus sed, iaculis iaculis mi. Pellentesque eget porttitor mauris, sed sodales felis. Quisque eget tincidunt leo. Nullam venenatis elit lorem, in consectetur purus suscipit in. Pellentesque porttitor mollis consectetur. Sed interdum augue ac magna elementum, et pharetra velit commodo. Proin neque nulla, bibendum maximus felis vel, lacinia sodales turpis. Pellentesque vestibulum, magna eu pretium ultrices, urna massa tincidunt metus, ac tincidunt orci est tempus enim. Donec commodo mattis mattis. In vel lobortis turpis. Pellentesque ullamcorper luctus enim vitae volutpat.</p>
                            <div class="likes-dislikes">
                                <div class="likes">
                                    <i class="item fa fa-thumbs-o-up"></i>
                                    <p class="item number">7</p>
                                </div>
                                <div class="dislikes">
                                    <i class="item fa fa-thumbs-o-down"></i>
                                    <p class="item number">0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <img class="smaller-image" src="../images/profile-picture.jpg" alt="Profile picture">
                    <div class="container">
                        <div class="name-timestamp">
                            <p class="name">Georgi Georgiev</p>
                            <small class="small timestamp">0 seconds ago</small>
                        </div>
                        <div class="post-info">
                            <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut ex mattis, imperdiet orci viverra, elementum ligula. Nunc elit odio, feugiat molestie tellus sed, iaculis iaculis mi. Pellentesque eget porttitor mauris, sed sodales felis. Quisque eget tincidunt leo. Nullam venenatis elit lorem, in consectetur purus suscipit in. Pellentesque porttitor mollis consectetur. Sed interdum augue ac magna elementum, et pharetra velit commodo. Proin neque nulla, bibendum maximus felis vel, lacinia sodales turpis. Pellentesque vestibulum, magna eu pretium ultrices, urna massa tincidunt metus, ac tincidunt orci est tempus enim. Donec commodo mattis mattis. In vel lobortis turpis. Pellentesque ullamcorper luctus enim vitae volutpat.</p>
                            <div class="likes-dislikes">
                                <div class="likes">
                                    <i class="item fa fa-thumbs-o-up"></i>
                                    <p class="item number">7</p>
                                </div>
                                <div class="dislikes">
                                    <i class="item fa fa-thumbs-o-down"></i>
                                    <p class="item number">0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</body>

</html>